body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
    
    
}
.logo img{
 width: 200px;
 height: 200px;
border-radius: 100px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    margin-top: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size:20px ;
    color: black;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}
li a:hover{
    background-color: black;
    color: blue;
}
.container img{
width: 300px;
height: 500px;
border-radius: 15px;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 30px;
}
section h1{
    text-align: center;
    text-decoration:underline ;
}
/* debut de competences*/
.item{
    display: flex;
    margin-bottom: 10px;
justify-content: center;
}
.max{
    width: 200px;
    background-color: grey;
    height: 20px;
    border-radius: 10px;
}
.valeur{
    width: 95%;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
}
.valeur1{
    width: 60%;
    height: 20px;
    background-color :red;
    border-radius: 10px;
}
.valeur2{
    width: 75%;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
}
.faceb{
   display: flex;
   align-items: center;
   margin: 20px;
}
.what{

display: flex;
   align-items: center;
   margin: 20px;
}
.insta{

display: flex;
   align-items: center;
   margin: 20px;
}
.icon{

    margin: 20px;
    color: black;
    font-weight: bold;
}
.footer{

margin-bottom: 100px;
margin-left: 700px;
margin-top: -200px;
width: 400px;
background-color: brown;
border-radius: 50px;
}
.contact{
 margin-left: 100px;
 margin-top: 50px;
}
.button{

    background-color: green;
}

